@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>index</title>
</head>
<body>
    <div>
        <form method="post" action="IndexSubmit">
            <label>User Name</label><input name="name" id="txtName" />
            <br />
            <label>Password</label><input name="pwd" id="txtPwd" />
            <br />
            <input id="btnSubmit" type="submit" value="Submit" />
        </form>
    </div>
</body>
</html>